@media screen and (min-width:768px) and (max-width:959px) {

  .head {
    width: 768px;
  }
  .head_logotype {
    padding-left: 20px;
  }
  .head_nav {
    padding-top: 139px;
  }
  .head_nav_menu {
    float: none;
    text-align: left;
    margin-left: 18px;
    width: 751px;
  }
  .slider {
    margin-top: -624px;
  }
  .left_icon {
    margin-left: 46px;
    padding-top: 11px;
  }
  .right_icon {
    margin-right: 48px;
    padding-top: 10px;
  }
  .mobile {
    width: 768px;
  }
  .mobile_text {
    width: 310px;
  }
  .mobile_text span {
    width: 290px;
  }
  .mobile_text_item1 {
    font-size: 47px;
    margin-left: 20px;
    line-height: 70px;
    letter-spacing: normal;
  }
  .mobile_text_item2 {
    font-size: 24px;
    margin-left: 20px;
    margin-top: -5px;
    height: 33px;
    display: inline-block;
    overflow: hidden;
  }
  .mobile_text_item3 {
    margin-left: 20px;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: normal;
    height: 101px;
    display: inline-block;
    overflow: hidden;
  }
  .mobile_icon {
    margin-right: 30px;
    margin-top: -24px;
  }
  .nav_menu {
    width: 768px;
    margin-top: 35px;
  }
  .nav_menu_switchover {
    margin-right: 144px;
  }
  main {
    margin-top: -71px;
  }
  .about_container {
    height: 340px;
    width: 768px;
  }
  .about_box {
    width: 768px;
  }
  .about_box1 {
    width: 204px;
    margin-right: 20px;
    margin-top: 81px;
    margin-left: 31px;
  }
  .title_box1,
  .title_box2,
  .title_box3 {
    font-size: 23px;
    line-height: 16px;
    margin-left: 16px;
  }
  .text_box1,
  .text_box2,
  .text_box3 {
    margin-left: 16px;
    line-height: 24px;
    margin-top: 10px;
    display: inline-block;
    height: 140px;
    overflow: hidden;
  }
  .about_box_read--box1,
  .about_box_read--box2,
  .about_box_read--box3 {
    margin-top: 5px;
    font-size: 19px;
    margin-right: 6px;
  }
  .about_box2 {
    width: 204px;
    margin-left: 28px;
    margin-top: 81px;
    margin-right: 20px;
  }
  .about_box_text--icon_blog {
    background-position: -33px -35px;;
    margin-left: 0;
  }
  .about_box3 {
    width: 204px;
    margin-left: 38px;
    margin-top: 80px;
  }
  .about_box_text--icon_music {
    background-position: 0px -68px;
    width: 204px;
    padding-left: 33px;
  }
  .blog_box {
    width: 768px;
  }
  .blog_box_message {
    width: 310px;
    margin-left: 43px;
  }
  .blog_box_message_title {
    font-size: 24px;
  }
  .blog_box_message_title span {
    display: block;
  }
  .blog_box_message_text {
    font-size: 16px;
    padding-top: 0px;
    line-height: 25px;
    width: 248px;
    display: inline-block;
    height: 145px;
    overflow: hidden;
  }
  .delta {
    display: none;
  }
  .blog_box_comment {
    width: 327px;
    margin-top: 117px;
    margin-right: 31px;
  }
  .blog_box_comment_text1,
  .blog_box_comment_text2,
  .blog_box_comment_text3 {
    font-size: 16px;
    display: block;
    height: 20px;
    overflow: hidden;
  }
  .blog_box_comment .about_box_read--box_comment {
    padding-right: 0px;
    padding-top: 15px;
  }
  .blog_box .nav_menu_switchover {
    width: 545px;
    margin-top: 11px;
    margin-right: 96px;
  }
  .blog_box .nav_menu_switchover li {
    background-color: grey;
  }
  .products_box {
    width: 768px;
  }
  .products_box p img:nth-child(n+2) {
    margin-left: 55px;
  }
  .copyright_box {
    width: 768px;
  }
  .copyright_box_column1 {
    margin-left: 20px;
    width: 207px;
    height: 200px;
    overflow: hidden;
  }
  .copyright_box_column1_author {
    margin-top: 51px;
  }
  .copyright_box_column2,
  .copyright_box_column3 {
    margin-left: 58px;
    width: 207px;
    height: 200px;
    overflow: hidden;
  }
  .copyright_box_column2_title1,
  .copyright_box_column3_title2 {
    font-size: 23px;
  }
  footer {
    height: 203px;
  }
  .foot {
    width: 768px;
    height: 100%;
  }
  .footer_design {
    margin-top: 103px;
    margin-right: 10px;
  }
  .foot .head_nav--footer {
    padding: 0;
    margin-left: 18px;
    margin-top: 45px;
  }
  .foot .head_nav_menu--footer {
    margin: 0;
    width: 535px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {

  .wrapper {
    height: 3034px;
    position: relative;
  }
  .head {
    width: 480px;
  }
  .head_logotype {
    margin-top: 70px;
    margin-left: 164px;
  }
  .head_nav_menu {
    width: 480px;
  }
  .head_nav_menu_item1 {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .head_nav_menu li {
    float: none;
    display: none;
  }
  .head_nav_menu .head_nav_menu_item1 {
    display: block;
    position: relative;
    line-height: 45px;
    width: 40px;
  }
  .head_nav_menu .head_nav_menu_item1:hover>a {
    opacity: 0;
  }
  .head_nav_menu .head_nav_menu_item1:hover .head_nav_submenu {
    display: block;
  }
  .slider {
    width: 480px;
    margin-top: -665px;
    margin-left: auto;
    margin-right: auto;
    height: 245px;
  }
  .left_icon,
  .right_icon {
    line-height: 224px;
    padding-top: 22px;
  }
  .mobile {
    width: 480px;
  }
  .mobile_text .mobile_text_item1 {
    font-size: 36px;
    margin-left: 16px;
  }
  .mobile_text .mobile_text_item2 {
    font-size: 18px;
    margin-left: 16px;
    line-height: 15px;
    width: 205px;
    height: 14px;
    overflow: hidden;
  }
  .mobile_text .mobile_text_item3 {
    display: none;
  }
  .mobile_icon {
    margin-right: 12px;
    margin-top: -10px;
  }
  .mobile_icon img {
    width: 186px;
  }
  .nav_menu {
    width: 480px;
    margin-top: 0;
  }
  .nav_menu_switchover {
    margin-right: 195px;
  }
  main {
    margin-top: -320px;
  }
  .about {
    height: 595px;
  }
  .about_box {
    width: 480px;
  }
  .about_box1,
  .about_box2,
  .about_box3 {
    display: block;
    width: 445px;
    height: 130px;
    margin-right: 0;
    padding-left: 34px;
  }
  .about_box1 {
    margin-top: 79px;
  }
  .about_box2 {
    margin-top: 26px;
  }
  .about_box3 {
    margin-top: 30px;
  }
  .title_box1,
  .title_box2,
  .title_box3 {
    font-size: 24px;
    line-height: 16px;
  }
  .text_box1,
  .text_box2,
  .text_box3 {
    margin-top: 11px;
    line-height: 23px;
  }
  .about_box_read {
    margin-right: 26px;
    margin-top: 15px;
  }
  .blog {
    height: 786px;
  }
  .blog_box {
    width: 480px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .blog_box_message {
    margin-left: 45px;
    margin-top: 69px;
    width: 415px;
  }
  .blog_box_message img {
    display: none;
  }
  .blog_box_comment {
    margin-top: 85px;
    width: 346px;
    height: 245px;
    margin-right: 54px;
  }
  .blog_box_comment_text1,
  .blog_box_comment_text2,
  .blog_box_comment_text3 {
    width: 252px;
    height: 18px;
    overflow: hidden;
  }
  .nav_menu--modify {
    position: absolute;
    top: 365px;
    margin-left: 31px;
  }
  .products {
    height: 230px;
  }
  .products_box {
    width: 480px;
  }
  .products_box p {
    height: 230px;
  }
  .products_box p img:first-child {
    margin-left: 11px;
  }
  .products_box p img:nth-child(5) {
    margin-left: 39px;
  }
  .products_box p img:last-child {
    margin-right: 30px;
    margin-left: 31px;
  }
  .copyright {
    height: 670px;
  }
  .copyright_box {
    width: 480px;
  }
  .copyright_box_column1,
  .copyright_box_column2 {
    width: 440px;
    margin-left: 18px;
    margin-top: 61px;
    height: 148px;
  }
  .copyright_box_column3 {
    width: 440px;
    margin-left: 18px;
    margin-top: 28px;
    height: 148px;
  }
  .copyright_box_column1_author {
    display: none;
  }
  .copyright_box_column1_text1 {
    margin-top: 55px;
  }
  .copyright_box_column2_title1 {
    font-size: 23px;
    line-height: 17px;
  }
  .copyright_box_column3_title2 {
    font-size: 23px;
    line-height: 35px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
  }
  .foot {
    width: 480px;
    height: 100%;
    position: relative;
  }
  .footer_design {
    float: none;
    position: absolute;
    top: 70px;
    width: 152px;
    left: 50%;
    margin-left: -76px;
  }
  .head_nav_menu--footer {
    text-align: center;
  }
  .head_nav--footer .head_nav_menu--footer li {
    display: inline-block;
    line-height: 45px;
    margin-right: 0;
    width: initial;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {

  .wrapper {
    height: 2500px;
    position: relative;
  }
  .head {
    width: 320px;
  }
  .head_logotype {
    margin-left: 82px;
  }
  .head_nav_menu {
    width: 320px;
  }
  .head_nav_menu_item1 {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .head_nav_menu li {
    float: none;
    display: none;
  }
  .head_nav_menu .head_nav_menu_item1 {
    display: block;
    position: relative;
    line-height: 45px;
    width: 40px;
  }
  .head_nav_menu .head_nav_menu_item1:hover>a {
    opacity: 0;
  }
  .head_nav_menu .head_nav_menu_item1:hover .head_nav_submenu {
    display: block;
  }
    .slider {
    width: 320px;
    margin-top: -665px;
    margin-left: auto;
    margin-right: auto;
    height: 245px;
  }
  .left_icon,
  .right_icon {
    line-height: 224px;
    padding-top: 22px;
  }
  .mobile {
    width: 320px;
  }
  .mobile_text {
    float: none;
    margin-top: 0;
    width: 227px;
    margin: 0px auto;
    padding-top: 95px;
    text-align: center;
  }
  .mobile_text .mobile_text_item1 {
    font-size: 36px;
  }
  .mobile_text .mobile_text_item2 {
    font-size: 18px;
    margin-left: 11px;
    line-height: 15px;
    width: 205px;
    height: 14px;
    overflow: hidden;
  }
  .mobile_text .mobile_text_item3 {
    display: none;
  }
  .mobile_icon {
    display: none;
  }
  .nav_menu {
    width: 320px;
    margin: 0 auto;
    text-align: center;
  }
  .nav_menu_switchover {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: 0;
  }
  main {
    margin-top: -320px;
  }
  .about {
    height: 595px;
  }
  .about_box {
    width: 320px;
  }
  .about_box1,
  .about_box2,
  .about_box3 {
    display: block;
    width: 285px;
    height: 100px;
    margin-right: 0;
    padding-left: 34px;
    overflow: hidden;
  }
  .about_box1 {
    margin-top: 79px;
    margin-bottom: 25px;
  }
  .about_box2 {
    margin-top: 26px;
    margin-bottom: 25px;
  }
  .about_box3 {
    margin-top: 30px;
  }
  .title_box1,
  .title_box2,
  .title_box3 {
    font-size: 24px;
    line-height: 23px;
  }
  .text_box1,
  .text_box2,
  .text_box3 {
    margin-top: 11px;
    line-height: 23px;
  }
  .about_box_read {
    margin-right: 26px;
    margin-top: 15px;
  }
  .blog {
    height: 786px;
  }
  .blog_box {
    width: 320px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .blog_box_message {
    margin-left: 45px;
    margin-top: 69px;
    width: 250px;
    margin-bottom: 85px;
  }
  .blog_box_message img {
    display: none;
  }
  .blog_box_message img[alt="foto"] {
    display: block;
  }
  .blog_box_message_title>span {
    display: inline-block;
  }
  .blog_box_message_text {
    height: 140px;
    overflow: hidden;
  }
  .blog_box_comment {
    width: 268px;
    height: 280px;
    overflow: hidden;
    margin: 0 auto;
    float: none;
  }
  .blog_box_comment_text1,
  .blog_box_comment_text2,
  .blog_box_comment_text3 {
    width: 252px;
    height: 18px;
    overflow: hidden;
  }
  .blog_box_comment span {
    height: 20px;
    overflow: hidden;
  }
  .blog_box_comment .about_box_read--box_comment {
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  .nav_menu--modify {
    position: absolute;
    top: 365px;
  }
  .products {
    height: 365px;
  }
  .products_box {
    width: 320px;
    height: 365px;
  }
  .products_box p {
    height: 365px;
    padding: 0 45px;
  }
  .products_box p img {
    margin: 0;
    padding: 0;
  }
  .products_box p img:nth-child(n+2) {
    margin-left: 0;
  }
  .products_box p img:nth-child(2) {
    margin-left: 75px;
  }
  .products_box p img:nth-child(4) {
    margin-left: 90px;
  }
  .products_box p img:nth-child(6) {
    margin-left: 20px;
  }
  .copyright {
    display: none;
  }
  .copyright_box {
    display: none;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
  }
  .foot {
    width: 320px;
    height: 100%;
    position: relative;
  }
  .footer_design {
    float: none;
    position: absolute;
    top: 0;
    width: 152px;
    left: 50%;
    margin-left: -76px;
  }
  .head_nav_menu--footer {
    display: none;
  }

}