* {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 300px;
	margin: 0 auto;
}
.time {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}
.buttons {
	text-align: center;
	margin-top: 10px;
}
input {
	display: inline-block;
	width: 75px;
	height: 40px;
	border-radius: 20%;
	font-size: 20px;
}
input[value="start"] {
	background-color: green;
}
input[value="stop"]{
	background-color: red;
}
input[value="reset"]{
	background-color: yellow;
}