@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue';
}
body {
	background: url(../img/bg_image.png) fixed top no-repeat;
	background-size: cover;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*NAVIGATION*/

.menu {
	width: 100%;
	background-color: #085292;
}
.menu_1 {
	width: 1124px;
	margin: 0 auto;
}
.menu ul,
.menu .enter_form {
	float: right;
	list-style: none;
}
.menu li,
.menu .enter_form p {
	float: left;
	position: relative;
}
.menu a {
	display: block;
	padding: 0 10px;
	line-height: 36px;
	text-decoration: none;
	color: #60b5ed;
}
.menu ul li a:hover {
	background-color: #4eabda;
	color: white;
}
.menu li:nth-child(5) {
	margin-right: 15px;
}
.menu li:nth-child(5):after {
	display: block;
	content: '';
	position: absolute;
	top: 2.5px;
	right: -15px;
 	height: 31px;
 	width: 2px;
	background: url(../img/line.png) no-repeat;
}
.enter_form .offer a {
	color: white;
	padding-left: 46px;
}
.enter_form .offer a:before {
	display: block;
	content: '';
	position: absolute;
	top: 6.5px;
	left: 15px;
 	height: 31px;
 	width: 21px;
	background: url(../img/flag.png) no-repeat;
}
.enter_form .offer a:hover {
	background: none;
	text-decoration: underline;	
}
.enter_form .signup {
	background: #4eacda;
	background: linear-gradient(to top, #2e7ac4, #51b1dc);
	margin-right: 20px;
	padding-left: 12px;
}
.enter_form .signup span,
.enter_form .signup a {
	float: left;
	line-height: 36px;
	color: white;
}
.enter_form .signup a {
	text-decoration: underline;
}
.enter_form .signup a:hover {
	text-decoration: none;
}

/*REGISTRATION*/

.registration {
	width: 560px;
	background-color: rgba(16,16,16,0.5);
	margin: 248px auto 187px;
}
.name_regist {
	margin-bottom: 35px;
	text-align: center;
	border-bottom: 3px solid #c3cbb6;
	font-size: 24px;
	color: white;
}
.name_regist span {
	display: inline-block;
	margin: 20px 0;
}
.panel_form {
	width: 276px;
	margin: 0 auto;
	color: #cccccc;
}

/*facebook*/
.fb-button {	
	width: 276px;
	height: 30px;
	margin-bottom: 30px;
}
	
.fb-button .icon,
.fb-button .title {
	display: inline-block;
	float: left;
	background: rgba(72,106,181,1);
	background: linear-gradient(to bottom, rgba(72,106,181,1) 0%, rgba(51,77,135,1) 100%);
	border: 1px outset #184aa5;
	line-height: 30px;
	color: white;
	text-align: center;
	text-decoration: none;
}

.fb-button .icon {
	position: absolute;
	left: 0;
	width: 30px;
	height: 29px;
	border-radius: 4px 0px 0px 4px;
	font-family: "Arial Bold", sans-serif;
	font-size: 22px;
	border: none;
    border-right: 1px solid #4d66a6;
}
.fb-button .title {
	position: relative;
	height: 30px;
	border-radius: 4px;
	padding-left: 30px;
	font-family: "Arial Bold", sans-serif;
	font-weight: normal;
	font-size: 14px;
	width: 243px;
	text-align: center;
}
	
.fb-button .title:hover {
	color: #eee;
	border: 1px inset #184aa5;
}
	
.fb-button .title:active {
	color: #f88;
	border: 1px inset #184aa5;
}
.fb-button .title::after {
	content: ">";
	margin-left: 20px;
}
/*facebook*/ 

.checkbox{
	margin: 6px 0 24px;
}
.checkbox span {
	margin-left: 15px;
}
.agreement {
	color: #cccccc;
	margin-bottom: 30px;
}
.agreement span {
	display: block;
	text-align: center;
}


/*----OU-----*/
.line {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
}
.line > span {
	display: inline-block;
    margin: 0 .4em;
}
.line > span:before,
.line > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #000;
    margin-top: .6em;
}
.line > span:before {
    margin-left: -102%;
}
.line > span:after {
    margin-left: 2%;
}
  /*----OU-----*/


form input:not([type="checkbox"]) {
	width: 275px;
	height: 35px;
	margin-bottom: 16px;
	padding-left: 18px;
	background-color: #0f0f0f;
	border: none;
	box-sizing: border-box;
	color: white;
}  
form input:active:not([type="checkbox"]),
form input:hover:not([type="checkbox"]) {
	box-shadow: -1px -1px 19px 6px rgba(73,133,173,1);
	background-color: #1b5288;
	color: white;
}
form input[type="submit"] {
	width: 150px;
	margin: 0 auto 22px;
	padding-left: 0px;
	display: block;
	background: linear-gradient(to top, #2e7ac4,#50aedb);
	border-radius: 2px; 
	border: 1px solid #4e9ed8; 
	line-height: 33px; 
	font-family: HelveticaNeueRoman, Tahoma, sans-serif; 
	font-size: 14px; 
	text-align: center; 
	color: #fff; 
	cursor: pointer;
}