@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue';
}
.wrapper {
	background: url(../img/bg_image.png) no-repeat;
	background-size: cover;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*NAVIGATION*/

.nav {
	height: 36px;
	background-color: #075190;
}
.nav li {
	float: right;
	display: block;
	list-style: none;
	line-height: 36px;
}
.nav li a {
	display: block;
	text-decoration: none;
	color: #60b5ed;
	font-size: 16px;
	padding: 0 12px;
}
.nav .menu a:hover {
	background-color: #4eabda;
	color: #fff;
}
.nav li:nth-child(5) {
	border-left: 1px solid #56a2dc;
	margin-right: 25px;
}
.nav li:nth-child(5) a {
	background: url(../img/flag.png) no-repeat;
	background-position: 19px center;
	padding-left: 50px;
}
.nav .enter a,
 .enter span {
	color: white;
}
.nav .enter a {
	text-decoration: underline;
	padding: 0 5px;
}
.nav li:first-child {
	margin-right: 25px;
}

/*REGISTRATION*/

.registration {
	width: 560px;
	background-color: rgba(16,16,16,0.5);
	margin: 248px auto 187px;
}
.name_regist {
	margin-bottom: 35px;
	text-align: center;
	border-bottom: 3px solid #c3cbb6;
	font-size: 24px;
	color: white;
}
.name_regist span {
	display: inline-block;
	margin: 20px 0;
}
.panel_form {
	width: 276px;
	margin: 0 auto;
	color: #cccccc;
}

/*facebook*/
.fb-button {	
	width: 276px;
	height: 30px;
	margin-bottom: 30px;
}
	
.fb-button .icon,
.fb-button .title {
	display: inline-block;
	float: left;
	background: rgba(72,106,181,1);
	background: linear-gradient(to bottom, rgba(72,106,181,1) 0%, rgba(51,77,135,1) 100%);
	border: 1px outset #184aa5;
	line-height: 30px;
	color: white;
	text-align: center;
	text-decoration: none;
}

.fb-button .icon {
	width: 30px;
	height: 30px;
	border-radius: 4px 0px 0px 4px;
	font-family: "Arial Bold", sans-serif;
	font-weight: bolder;
	font-size: 22px;
}

.fb-button .title {
	height: 30px;
	padding: 0 20px;
	border-radius: 0px 4px 4px 0px;
	font-family: "Arial Bold", sans-serif;
	font-weight: normal;
	font-size: 14px;
	width: 202px;
}
	
.fb-button .title:hover {
	color: #eee;
	border: 1px inset #184aa5;
}
	
.fb-button .title:active {
	color: #f88;
	border: 1px inset #184aa5;
}
/*facebook*/ 

.checkbox{
	margin: 6px 0 24px;
}
.checkbox span {
	margin-left: 15px;
}
.agreement {
	text-align: center;
	color: #cccccc;
}


/*----OU-----*/
.line {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
}
.line > span {
	display: inline-block;
    margin: 0 .4em;
}
.line > span:before,
.line > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 2px solid black;
    margin-top: .6em;
}
.line > span:before {
    margin-left: -102%;
}
.line > span:after {
    margin-left: 2%;
}
  /*----OU-----*/


form input:not([type="checkbox"]) {
	width: 275px;
	height: 35px;
	margin-bottom: 16px;
	padding-left: 18px;
	background-color: #0f0f0f;
	border: none;
	box-sizing: border-box;
	color: white;
}  
form input:active:not([type="checkbox"]),
form input:hover:not([type="checkbox"]) {
	box-shadow: -1px -1px 19px 6px rgba(73,133,173,1);
	background-color: #1b5288;
	color: white;
}
form input[type="submit"] {
	display: block;
	width: 150px;
	margin: 0 auto;
	padding-left: 0px;
	background-color: #307cc5;
	border-radius: 5px;
	margin-bottom: 22px;
}